---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Max's Portfolio">
  <nav class="flex justify-end p-10">
    <div class="flex justify-between nav-links text-xl font-extralight">
      <div class="link-container p-4 text-center">
        <a href="/#about">About me</a>
      </div>
      <div class="link-container p-4 text-center">
        <a href="/#projects">Projects</a>
      </div>
      <div class="link-container p-4 text-center">
        <a href="/#tech">Technologies</a>
      </div>
    </div>
  </nav>
  <main class="px-32 max-w-screen-xl">
    <section class="flex-col text-xl text-gray-500" id="about">
      <div class="flex items-center mb-5">
        <h1 class="section-header">Maxwell O'Roark</h1>
        <div id="about-cursor" class="active-cursor"></div>
      </div>
      <p>
        Hi 👋, I am a software engineer at BlueSky Resources. Most of my
        experience involves helping solve geospatial 🌎 challenges. I enjoy
        building tools that solve novel problems of all shapes and sizes and
        exposing the full power of those tools with clean sensical interfaces.
        On the fortunate occasions where it all comes together, it feels like
        building tiny super powers. ⚡
      </p>
      <p>
        Feel free to check out some examples <a
          class="text-mdo-purple"
          href="/#projects">below</a
        >.
      </p>
    </section>
    <section id="projects">
      <h1 class="section-header">Projects</h1>
      <div id="projects-cursor"></div>
    </section>
    <section id="tech">
      <h1 class="section-header">Favorite Technologies</h1>
      <div id="tech-cursor"></div>
    </section>
    <section id="likes">
      <h1 class="section-header">Things I like</h1>
      <div id="likes-cursor"></div>
    </section>
    <div class="flex justify-center"></div>
  </main>
  <footer class="p-5 mt-[200px]">
    <p class="text-center text-sm text-gray-500">Made by max © 2022</p>
  </footer>
</Layout>

<style>
  @font-face {
    font-family: "MavenPro";
    src: url("/MavenPro.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @keyframes cursor-blink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  section {
    display: flex;
    height: 50vh;
    font-family: "MavenPro";
  }
  .section-header {
    font-family: Monaco, Consolas, Lucida Console, monospace;
    font-size: 2.25em;
    color: #747fe0;
  }
  .section-header h1::before {
    content: ">\A0";
  }
  p {
    margin: 15px 0;
    line-height: 40px;
  }
  nav a {
    font-family: "MavenPro", monospace;
    color: #747fe0;
  }
  .link-container {
    display: flex;
    justify-content: center;
    border-bottom: 8px solid rgba(0, 0, 0, 0);
    transition: border-color 0.25s;
  }
  .link-container:hover {
    border-color: #747fe0;
  }
  .active-cursor {
    margin-left: 5px;
    width: 25px;
    height: 45px;
    background-color: #747fe0;
    animation: cursor-blink 1.25s steps(2) infinite;
  }
</style>

<script>
  import "../index.js";
</script>
