---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import CircleLink from "../components/CircleLink.astro";
---

<Layout title="Max's Portfolio">
  <nav class="flex justify-end p-7">
    <div class="flex justify-between nav-links text-xl font-extralight">
      <div class="link-container py-1 mx-4 text-center">
        <a href="/#about">About me</a>
      </div>
      <div class="link-container py-1 mx-4 text-center">
        <a href="/#projects">Projects</a>
      </div>
      <div class="link-container py-1 mx-4 text-center">
        <a href="/#links">Links</a>
      </div>
    </div>
  </nav>
  <main class="px-5 lg:px-32 max-w-screen-lg">
    <section id="about">
      <div class="flex items-center mb-5">
        <h1 class="section-header">Maxwell O'Roark</h1>
        <div id="about-cursor" class="active-cursor"></div>
      </div>
      <p class="text-gray-500">
        Hi 👋, I am a software engineer at BlueSky Resources. Most of my
        professional experience centers around solving geospatial 🌎 challenges
        at scale. But I also enjoy building tools that solve novel problems of
        all shapes and sizes. I enjoy exposing the full power of those tools
        with clean intuitive interfaces. On the occasions where it all comes
        together, it feels like building tiny super powers. ⚡
      </p>
      <p class="text-gray-500">
        Below you will find some side projects I've been hacking on lately.
      </p>
    </section>
    <section id="projects">
      <div class="flex items-center mb-5">
        <h1 class="section-header">Recent Projects</h1>
        <div id="projects-cursor"></div>
      </div>
      <Card
        title="Chess Cloud"
        body="While you play online, chess-cloud runs in the background asynchronously, evaluating your performance with the stockfish chess engine, generating useful analytic reports."
        src="stockfish.png"
        href="https://github.com/maxwell-oroark/chess-cloud"
        technologies={[
          "Python",
          "Docker",
          "Cloud Run",
          "GCS Functions",
          "GCS Tasks",
          "GCS Storage",
        ]}
      />
      <Card
        title="Segment Tracker"
        body="Sync your favorite segments from strava. Segment tracker will then monitor them for ideal conditions and alert user when certain criteria or thresholds are met."
        src="strava.png"
        href="https://github.com/maxwell-oroark/segment-tracker-web-client"
        technologies={["React", "Serverless", "Cloud Tasks", "GIS", "Python"]}
      />
    </section>
    <section id="links">
      <div class="flex items-center mb-12">
        <h1 class="section-header">Links</h1>
        <div id="links-cursor"></div>
      </div>
      <div class="flex w-full space-x-5">
        <CircleLink
          title="resume"
          href="maxwell_oroark.pdf"
          icon="ion:document-text"
        />
        <CircleLink
          title="github"
          href="https://github.com/maxwell-oroark"
          icon="entypo-social:github"
        />
        <CircleLink
          title="linkedin"
          href="https://www.linkedin.com/in/maxwelloroark/"
          icon="entypo-social:linkedin"
        />
        <CircleLink
          title="email"
          href="mailto:m.d.oroark@gmail.com"
          icon="ion:mail-sharp"
        />
      </div>
    </section>
    <div class="flex justify-center"></div>
  </main>
  <footer class="p-3 mt-[200px]">
    <p class="text-center text-sm text-gray-500">
      Made by max © 2022. Leverages <a href="https://astro.build">Astro</a> for ⚡
    </p>
  </footer>
</Layout>

<style>
  @font-face {
    font-family: "MavenPro";
    src: url("/MavenPro.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @keyframes cursor-blink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  section {
    display: flex;
    flex-direction: column;
    font-family: "MavenPro";
    margin: 15px 0;
  }
  main section:not(:first-child) {
    margin-top: 50px;
  }
  .section-header {
    font-family: Monaco, Consolas, Lucida Console, monospace;
    font-size: 2.5em;
    color: #747fe0;
  }
  h1.section-header::before {
    content: ">\A0";
  }
  p {
    font-size: 1.15em;
    margin: 15px 0;
    line-height: 40px;
  }
  p > a {
    color: #747fe0;
  }
  nav a {
    font-family: "MavenPro", monospace;
    color: #747fe0;
  }
  .link-container {
    display: flex;
    justify-content: center;
    border-bottom: 8px solid rgba(0, 0, 0, 0);
    transition: border-color 0.25s;
  }
  .link-container:hover {
    border-color: #747fe0;
  }
  .active-cursor {
    margin-left: 5px;
    width: 25px;
    height: 45px;
    background-color: #747fe0;
    animation: cursor-blink 1.25s steps(2) infinite;
  }
</style>

<script>
  import "../index.js";
</script>
