---
export interface Props {
  title: string;
  body: string;
  href: string;
  technologies: Array<string>;
}

const { href, title, body, technologies } = Astro.props;
---

<li class="link-card flex rounded-sm mt-[15px]">
  <img class="rounded-l-sm h-56" src="stockfish.png" />
  <div class="flex flex-col p-5">
    <a href="https://github.com/maxwell-oroark/chess-cloud" target="_blank">
      <h2>
        {title}
        <span>&rarr;</span>
      </h2>
    </a>
    <p>
      {body}
    </p>
    <div class="flex space-x-2 mt-auto self-end">
      {
        technologies.map((technology) => {
          return (
            <div class="p-2 text-sm rounded-sm bg-fuchsia-200 text-fuchsia-800">
              {technology}
            </div>
          );
        })
      }
    </div>
  </div>
</li>
<style>
  .link-card {
    list-style: none;
    display: flex;
    background-color: white;
    background-image: var(--accent-gradient);
    background-size: 400%;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -2px rgba(0, 0, 0, 0.1);
  }

  .link-card > a {
    width: 100%;
    text-decoration: none;
    line-height: 1.4;
    padding: 1rem 1.3rem;
    border-radius: 0.35rem;
    color: #111;
    background-color: white;
    opacity: 0.8;
  }
  h2 {
    margin: 0;
    font-size: 1.25rem;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
  p {
    margin-top: 0.5rem;
    margin-bottom: 0;
    color: #444;
  }
</style>
